<div class="todo">
<form class="form" (ngSubmit) = "cadastrar()">
<input type="text" [(ngModel)]="mensagem" name="mensagem" class="form-control" id="formGroupExampleInput" placeholder="Coloque seu todo aqui">

<button type="submit" class="btn btn-info">Todo</button>
</form>


<div class="list-group" *ngFor="let t of todos">
  <a class="list-group-item list-group-item list-group-item-info">{{t}}</a>
</div>
</div>

<ng-template #listaVazia>
  <p>Nenhuma transferência cadastrada</p>
</ng-template>
