.list-group{
  width: 40rem;
  margin: auto;
  margin-top: 10px;
}

.form{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.form-control{
  width: 35.6rem;
  margin-right: 10px;
}

.todo{
  display: flex;
  flex-direction: column;
}

.template-vazio{
  margin: auto;
  font-size: 1.5rem;
}

.display-1{
  text-align: center;
  margin-top: 3rem;
  font-size: 4rem;
}
